site_name: Python 项目工程化开发指南

theme:
  name: material
  langage: zh
  features:
    - search.highlight
    - navigation.sections
    - navigation.top
    - navigation.tabs
    - navigation.tracking   # 锚点导航
#    - content.tabs.link     # 链接的内容选项卡
  palette:  # 主题模式切换。
    - media: "(prefers-color-scheme: light)"  # 跟随系统主题模式
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

repo_url: https://github.com/pyloong/pythonic-project-guidelines
repo_name: pyloong/pythonic-project-guidelines
site_url: https://pyloong.github.io/pythonic-project-guidelines/

plugins:
  - search

nav:
- Python 开发指南: index.md
- 快速上手: quick_start.md
- 开发前准备:
  - Python 安装: introduction/install.md
  - 虚拟环境: introduction/virtualenv.md
  - IDE 选择: introduction/ides.md
- Python 规范:
  - 风格规范: standard/style_rules.md
  - 语言规范: standard/language_rules.md
- 应用开发实践:
  - 初级教程: 
    - 项目说明: guidelines/tutorial/tutorial.md
    - 初始化: guidelines/tutorial/init_project.md
    - 开发: guidelines/tutorial/develop.md
    - 测试: guidelines/tutorial/test.md
    - 发布: guidelines/tutorial/publish.md
  - 进阶教程:
    - 类型标注: guidelines/advanced/type_hint.md
    - 配置: guidelines/advanced/configuration.md
    - 异常: guidelines/advanced/exception.md
    - 日志: guidelines/advanced/logging.md
    - 测试: guidelines/advanced/test.md
    - 信号: guidelines/advanced/signal_decouple.md
    - 插件化: guidelines/advanced/plugin.md
  - 项目管理:
    - 代码检测: guidelines/project_management/code_lint.md
    - 项目结构: guidelines/project_management/project_structure.md
    - 文档管理: guidelines/project_management/document.md
    - 构建与发布: guidelines/project_management/distribution.md
  - 开发实践:
    - Web:
      - Fastapi: practices/web.md
- 数据开发实践:
  - 初级教程:
    - 环境准备: datadevelop/quick_start/preparation.md
    - 初始化项目: datadevelop/quick_start/initialization.md
    - 应用开发: datadevelop/quick_start/etl_develop.md
    - 测试: datadevelop/quick_start/tests.md
    - 部署: datadevelop/quick_start/deployment.md